<div class="pagedivider">
    <div class="leftside">
        <h1>Welcome to the Random Quote Generator!</h1>
        <p>This is a practice project that was made using Python (Flask) and Angular.</p>
        <p class="logos">
            <img src="/python.svg" alt="Python Logo" width="100" height="100" />
            <img src="/angular.svg" alt="Angular Logo" width="100" height="100" />
        </p>
    </div>
    <div class="rightside">
        <div class="form-container">
            <h3>Subscribe for a random quote!</h3>
            <form id="quote-subscribe-form" (ngSubmit)="subscribe()">
                <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
                <select [(ngModel)]="frequency" name="frequency">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                </select>

                <select [(ngModel)]="sendHour" name="sendHour">
                    <ng-container *ngFor="let h of hours">
                      <option [value]="h">{{ h }}:00</option>
                    </ng-container>
                  </select>
                
                <div class="categories-container">
                    <p>Select categories:</p>
                    <div class="checkbox-group">
                        <div class="checkbox-item">
                            <input type="checkbox" id="philosophy" [(ngModel)]="categorySelections.philosophy" name="categoryPhilosophy">
                            <label for="philosophy">Philosophy</label>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="humor" [(ngModel)]="categorySelections.humor" name="categoryHumor">
                            <label for="humor">Humor</label>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="business" [(ngModel)]="categorySelections.business" name="categoryBusiness">
                            <label for="business">Business</label>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="psychology" [(ngModel)]="categorySelections.psychology" name="categoryPsychology">
                            <label for="psychology">Psychology</label>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="random" [(ngModel)]="categorySelections.random" name="categoryRandom">
                            <label for="random">Random</label>
                        </div>
                    </div>
                </div>
                
                <button type="submit">Subscribe</button>
            </form>
            <h3>Want to unsubscribe from a daily quote?</h3>
            <form id="unsubscribe-form" (ngSubmit)="unsubscribe()">
                <input type="email" [(ngModel)]="unsubscribeEmail" name="unsubscribeEmail" placeholder="Enter your email to unsubscribe" required>
                <button type="submit">Unsubscribe</button>
            </form>
            <p id="subscribe-status">{{statusMessage}}</p>
        </div>
    </div>
</div>
